*{
    padding: 0px;
    margin: 0;
    font-family: "serenity", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* !important betyder at den kode er vigtigst og derfor tager den fat i den */
.navbar{
    background-image: linear-gradient(to right,#8d7d70,#A4907C, #C8B6A6  ) !important; 
}

.navbar a{
    color: white !important;
}

.footer{
    background-image: linear-gradient(to right,#8d7d70,#A4907C, #C8B6A6  ) !important;
    padding-top: 15px;
}

.footer ul{
    list-style: none;
}

.text-center{
    background-image: linear-gradient(to right,#8d7d70,#A4907C, #C8B6A6  ) !important;
}

.text-center p{
    color: white;
    padding-bottom: 20px;
}

.bi{
    color: white;
}

.dropdown-menu{
    background-image: linear-gradient(to right,#8d7d70,#A4907C, #C8B6A6) !important;
    border-color: white;
}

.dropdown-menu a:hover{
    background-color: #A4907C;
}


/* Om os underside */
.omOs body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.omOs{
    margin:50px auto;
    width: 80%; /* Bestemmer hvor meget mellemrum der skal være i venstre side */
}
  
.omOs img{
    max-width: 260px; /* Ændre billedet størrelse */
    float: left; /* Billedet rykker mod højre */
    padding-bottom: 30px;
}

.omTekst{
    color: #0c0f1d;
    line-height: 1.5;
}
  
.omTekst h2{
    font-size: 42px;
    padding-top: 30px;
}
  
.omTekst p{
    font-size: 18px;
}
 
.icon1, .icon2, .icon3{
    padding: 0 5px;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .omOs img{
        max-width: 500px;
        padding-right: 20px;
        padding-top: 20px;
        height: 790px;
        padding-bottom: 50px;
    }

    .icon1, .icon2, .icon3{
        padding-top: 20px;
    }

    .omTekst h2{
        margin-top: -10px;
    }
}
/* Om os underside */

/* Kontaktformular */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ebe5e5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    justify-content: center;
    display: flex;
  }
  
  input[type=submit] {
    background-color: #ad9c8e;
    color: white;
    padding: 12px 82px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #88786a;
  }
  
.container {
    width: 80%; 
    min-height: 10vh;
    border-radius: 5px;
    background-color: #cccfcc;
    padding: 2rem;
    justify-content: center;
    border-color: violet;
    background-color: #C8B6A6;
    padding-left: 30px;
    margin-top: 20px;
}

.box{
    width: 500px;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width:1024px){
    main{
        justify-content: space-evenly;
    }

    .kontakt{
        padding-top: 80px;
    }
    
}
/* Kontaktformular */

/* Kontakt underside */
.kontaktTekst p{
    align-items: center;
}

.kontaktTekst, .kontaktIndhold{
  position: relative;
  min-height: 5vh;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.kontaktTekst h2{
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

.kontaktIndhold h3{ 
    font-weight: 900;
    font-size: 20px;
    padding-top: 5px;
}

/* Kontakt underside */

/* Smykke billeder på forsiden */
.forsideBillederSmykker img{
    width: 55%;
}

.forsideTekst{
    text-align: center;
    padding-top: 50px;
    line-height: 5px;
    width: 100%;
}

.forsidebillede1, .forsidebillede2{
    text-align: center;
    padding-top: 40px;
}

.forsidebillede1 img, .forsidebillede2 img{
    display: inline-block;
    margin-bottom: 20px;
}

@media screen and (min-width:768px){

    .forsideBillederSmykker{
        display: flex;
        flex-wrap: wrap;
    }

    .forsidebillede1, .forsidebillede2{
        width: 50%;
        position: relative;
    }

    .forsidebillede1 img, .forsidebillede2 img{
        width: 50%;
        display: inline-block;
    }
}

/* Smykke billeder på forsiden */

/* Forsidebillede med tekst på */
.header{
    min-height: 60vh;
    width: 100%;
    background-image: url(IMG_2798.jpeg); /* Forside billede */
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
  
  .text-box h1{
    font-size: 45px;
    color: white;
  }
  
  .p2{
    margin: 10px 0 20px;
    font-size: 15px;
    color: #ffffff;
  }
  
  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 10px;
  }
  
  .hero-btn:hover{
    border: 1px solid rgb(191, 180, 180);
    background: rgb(191, 180, 180);
    transition: 1s;
  }
  
  .p1{
    font-size: 15px;
  }

  @media screen and (min-width:1024px) {
    .text-box h1{
        font-size: 70px;
      }
      
      .p2{
        font-size: 30px;
        color: #ffffff;
      }

      .p1{
        font-size: 30px;
      }

        
    .hero-btn{
     font-size: 25px;
     margin-top: 30px;
    
    }
}

@media screen and (min-width:768px) {
    .text-box h1{
        font-size: 70px;
      }
      
      .p2{
        font-size: 25px;
        color: #ffffff;
      }

      .p1{
        font-size: 20px;
      }

        
    .hero-btn{
     font-size: 17px;
     margin-top: 30px;
    
    }
}
/* Forsidebillede med tekst på */

.halskæderDisplay img, .armbåndDisplay img{
    width: 55%;
}

.halskædeTekst, .armbåndTekst{
    text-align: center;
    padding-top: 50px;
    line-height: 5px;
    width: 100%;
}

.halskædeTekst h4, .armbåndTekst h4{
    font-size: 17px;
}

.halskædeBillede1, .halskædeBillede2, .halskædeBillede3, .armbåndBillede1{
    text-align: center;
    padding-top: 40px;
}

.halskædeBillede1 img, .forsidebillede2 img, .halskædeBillede3 img, .armbåndBillede1 img{
    display: inline-block;
    margin-bottom: 20px;
}

@media screen and (min-width:768px){

    .halskæderDisplay, .armbåndDisplay{
        display: flex;
        flex-wrap: wrap;
    }

    .halskædeBillede1, .halskædeBillede2, .halskædeBillede3, .armbåndBillede1{
        width: 33%;
        position: relative;
    }

    .halskædeBillede1 img, .halskædeBillede2 img, .halskædeBillede3 img, .armbåndBillede1 img{
        width: 65%;
        display: inline-block;
    }
}








/* Spørgsmål til Morten: Skifte skrifttype i navbaren både på logo og a */
/* Kan ikke fjerne padding fra ikonerne i footeren */
/* Sætte kontaktformularen ved siden af teksten når det er computer størrelse */