*{
    padding: 0px;
    margin: 0;
    font-family: "serenity", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* !important betyder at den kode er vigtigst og derfor tager den fat i den */
.navbar{
    background-image: linear-gradient(to right,#8d7d70,#A4907C, #C8B6A6  ) !important; 
}

.navbar a{
    color: white !important;
   
}

.footer{
    background-image: linear-gradient(to right,#8d7d70,#A4907C, #C8B6A6  ) !important;
    padding-top: 15px;
}

.footer ul{
    list-style: none;
}

.text-center{
    background-image: linear-gradient(to right,#8d7d70,#A4907C, #C8B6A6  ) !important;
}

.text-center p{
    color: white;
    padding-bottom: 20px;
}

.bi{
    color: white;
}

.dropdown-menu{
    background-image: linear-gradient(to right,#8d7d70,#A4907C, #C8B6A6) !important;
    border-color: white;
}

.dropdown-menu a:hover{
    background-color: #A4907C;
}


/* Om os underside */
.omOs body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.omOs{
    margin:50px auto;
    width: 80%; /* Bestemmer hvor meget mellemrum der skal være i venstre side */
}
  
.omOs img{
    max-width: 260px; /* Ændre billedet størrelse */
    float: left; /* Billedet rykker mod højre */
    padding-bottom: 30px;
}

.omTekst{
    color: #0c0f1d;
    line-height: 1.5;
}
  
.omTekst h2{
    font-size: 42px;
    padding-top: 30px;
}
  
.omTekst p{
    font-size: 18px;
}
 
.icon1, .icon2, .icon3{
    padding: 0 5px;
    padding-bottom: 10px;
}

@media screen and (min-width: 1024px) {
    .omOs img{
        max-width: 300px;
        padding-right: 20px;
    }

    .icon1, .icon2, .icon3{
        padding-top: 20px;
    }

    .omTekst h2{
        padding-top: 20px;
        margin-top: 60px;
    }
}
/* Om os underside */

/* Kontaktformular */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ebe5e5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    justify-content: center;
    display: flex;
  }
  
  input[type=submit] {
    background-color: #ad9c8e;
    color: white;
    padding: 12px 82px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #88786a;
  }
  
  .container {
    width: 80%; 
    min-height: 10vh;
    border-radius: 5px;
    background-color: #cccfcc;
    padding: 2rem;
    justify-content: center;
    border-color: violet;
    background-color: #C8B6A6;
    padding-left: 30px;
    margin-top: 20px;
}
/* Kontaktformular */

.kontaktTekst p{
    align-items: center;
}

.kontaktTekst, .kontaktIndhold{
  position: relative;
  min-height: 5vh;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.kontaktTekst h2{
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

.kontaktIndhold h3{ 
    font-weight: 900;
    font-size: 20px;
    padding-top: 5px;
}

.forsideBillederSmykker img{
    width: 55%;
}

.forsideTekst{
    text-align: center;
    padding-top: 20px;
    line-height: 5px;
    width: 100%;
}

.forsidebillede1, .forsidebillede2{
    text-align: center;
    padding-top: 40px;
}

.forsidebillede1 img, .forsidebillede2 img{
    display: inline-block;
}

@media screen and (min-width:1024px){
    .forsideBillederSmykker{
        display: flex;
        flex-wrap: wrap;
    }

    .forsidebillede1, .forsidebillede2{
        width: 50%;
        position: relative;
    }

    .forsidebillede1 img, .forsidebillede2 img{
        width: 50%;
    }
}

/* .forsideBillede img{
    position: relative;
    text-align: center;
    width: 100%;
}

.centreret{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centreret p{
    text-align: center;
    text-wrap: wrap;
    color: white;
    font-size: 17px;
}

.centreret, .knap{
    justify-content: center;
    text-align: center;
}  */
/* .line a{
    text-decoration: none;
}
.section{
    width: 100vw;
    height: 100vh;
    background-image: url(IMG_2798.jpeg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.forsideBillede{
    margin-bottom: 150px;
    color: white;
    text-align: center;
}

.forsideBillede h2{
    font-size: 5vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: red;
    margin: 10px auto;
    border-radius: 5px;
}

.forsideBillede h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background: red;
    border-radius: 30px;
    color: white;
} */


.header{
    min-height: 60vh;
    width: 100%;
    background-image: url(IMG_2798.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  .text-box h1{
    font-size: 60px;
    color: rgba(255, 255, 255, 0.68);
  }
  
  .text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #ffffff;
  }
  
  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 10px;
  }
  
  .hero-btn:hover{
    border: 1px solid #303073;
    background: #303073;
    transition: 1s;
  }
  
  .om-btn{
    display: inline-block;
    color: #0c0f1d;
    border: 1px solid #0c0f1d;
    padding: 12px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
  }
  
  .om-btn:hover{
    border: 1px solid #303073;
    background: #303073;
    transition: 1s;
  }









/* Spørgsmål til Morten: Skifte skrifttype i navbaren både på logo og a */
/* Kan ikke fjerne padding fra ikonerne i footeren */
/* Sætte kontaktformularen ved siden af teksten når det er computer størrelse */